* {
  /*border: solid red 1px;*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.App {
  height: 100vh;
  display: flex;
  flex-flow: column;
  /*GLASS SETTINGS*/
  background: linear-gradient(to right bottom,  #96c9ff, #bdf0ff);
}

/*ANY CONTAINER TO HAVE GLASS PROPERTIES*/
.glass {
  background: white;
  background: linear-gradient(to right bottom, rgba(255,255,255,0.2), rgba(255,255,255,0.1));
  border-radius: 1rem;
  z-index: 2;
  backdrop-filter: blur(0.5rem);


}




/*NAVBAR*/
.navbar-cont {
  display: flex;
  justify-content: space-between;
  height: 3.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right-item {
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  width: 5rem;
  margin: .5rem 1rem;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border: 0.1em solid #ffffff;
  border-radius: 0.12em;
  text-decoration: none;
  color: #000000;
  text-align: center;

}

.navbar-logo-img {
  height: 3.5rem;
  width: 3.5rem;
}

.welcome-logo {
  width: 7rem;
  height: 7rem;
}

.login-btn {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1)
  );
  border: 0.1em solid #000000;
}










/*CIRCLES*/

.circle1, .circle2, .circle3, .circle4 {
  background: white;
  background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.1));
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.circle1 {
  right: 30%;
  height: 15rem;
  width: 15rem;
}

.circle2 {
  height: 30rem;
  width: 30rem;
  bottom: 10%;
  left: 0;
}

.circle3 {
  bottom: 5%;
  right: 0;
  height: 20rem;
  width: 20rem;
}

.circle4 {
  bottom: 15%;
  right: 50%;
  height: 10rem;
  width: 10rem;
}
