/*MAIN FAULT PAGE*/
.columns-container {
  display: flex;
  flex: 1;
  height: 100%;
}

.col {
}

.left-col {
  width: 15rem;
}

.middle-col {
  flex-grow: 9;
}

.right-col {
  flex-grow: 3;
}

/*MAKE MODEL ABOVE LIST*/

.search-and-make-model {
  display: flex;
  flex-direction: column;
  /*REMOVE THIS MARGIN FOR DEPLOYMENT*/
  margin-bottom: 50px;
}

.make-model-div {
  display: flex;

}

/*FAULT LIST ITEM*/
.entire-container {
  display: flex;
  height: auto;
}

.counter-section {
  width: 10%;
}

.main-fault-section {
  width: 83%;
}

.right-fault-section {
  width: 7%;
}

.placeholder {
  flex-grow: 12;
  display: flex;
}


/*LOG FAULT COMPONENT*/

.log-fault-container {
  display: flex;
  flex-grow: 12;
}
