.welcome-container {
  height: 25rem;
  width:60vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1, h3 {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: space-around;
  height: 15rem;
}

.button-div {
  width: 20rem;
  display: flex;
  flex-direction: column;
}

.input-output {
  height: 1.5rem;
  text-align: center;
}

.input-box-form {
  height: 10rem;
  display: flex;
  flex-direction: column;
}


