.welcome-container {
  height: 25rem;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1,
h3 {
  text-align: center;
  opacity: 0.8;
}



a.welcome-choice-btn {
  display: inline-block;
  padding: 0.35em 1.2em;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  text-decoration: none;
  color: #000000;
  text-align: center;
  transition: 0.5s;
  width: 100%;
}

a.welcome-choice-btn:hover {
  color: #000000;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.4)
  );
}

a.welcome-choice-btn:focus {
  color: #000000;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.4)
  );
  border: 1px solid black;
}








.input-text-box {
  background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
  border-radius: 2rem;
  padding: 0.3rem;
  outline: none;
  text-align:center
}


.button-container {
  display: flex;
  justify-content: space-around;

}

.button-div {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-output {
  height: 2rem;
  width: 85%;
  padding: 0.3rem;
  border: solid black 1px;
  border-radius: 0.5rem;
  text-align: center;
}

.input-box-form {
  height: 11rem;
  display: flex;
  flex-direction: column;
  width: 20rem;
  justify-content: space-around;
  align-items: center;
}

.mainpage {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.cen {
  display: flex;
  flex-direction: column;
  align-items: center;
}